

body {
	padding-top: 56px;
 }
 .container{
    
    padding: 120px 20px;
    /* margin-left: 50px; */
	/* margin: 30px auto 50px;
	max-width: 1250px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: #fff;
	box-shadow: 0 0 1px #ccc; */
}
 .navbar-form {
	 -webkit-flex-basis: 100%;
	 -moz-flex-basis: 100%;
	 -ms-flex-basis: 100%;
	 -o-flex-basis: 100%;
	 flex-basis: -moz-available;
     flex-basis: 100%;	
 }

 /* .input-group-search {
    left: -150px;
	
 } */


 .border { 
    display: inline-block; 
    width: 120px; 
    height: 120px; 
    margin: 15px; 
    
} 

/* #category-links{
margin-left: 80px;
} */

 /* .navbar-nav{
    margin-left: -140px;
 } */

 #search-button-addon{
     height: 40px;
     width: 40px;;
     margin-top: -1px;
 }

 option{
     margin-right: 10px;;
     margin-top: -1px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}


html{
	font: normal 16px sans-serif;
	color: #333;
	background-color: #f9f9f9;
}

@media(min-width:576px) {
    .navbar-expand-sm .input-group-search {
       width: 20% !important; 
    }
}
@media(min-width:768px) {
    .navbar-expand-md .input-group-search {
       width: 40% !important; 
    }
}
@media(min-width:992px) {
    .navbar-expand-lg .input-group-search {
       width: 40% !important; 
    }
    /*body {
       padding-top: 110px;
    }*/
}
@media(min-width:1200px) {
    .navbar-expand-xl .input-group-search {
       width: 40% !important; 
    }
}
 
@media(max-width: 1250px){

	.container{
		justify-content: center;
		margin: 30px 30px 50px 30px;
    }
    .input-group-search {
        width: 300px;;
    }

}

