@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

body{
  background: #E8E8E8;
}

.wrapper{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.wrapper .search_box{
  width: 600px;
  background: #fff;
  border-radius: 5px;
  height: 60px;
  display: flex;
  padding: 10px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
}

.wrapper .search_box .dropdown{
  width: 150px;
  border-right: 2px solid #dde2f1;
  color: #9fa3b1;
  position: relative;
  cursor: pointer;
}

.wrapper .search_box .dropdown .default_option{
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 14px;
}

.wrapper .search_box .dropdown option{
  position: absolute;
  top: 70px;
  left: -10px;
  background: #fff;
  width: 150px;
  border-radius: 5px;
  padding: 20px;
  display: none;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
}

.wrapper .search_box .dropdown option.active{
  display: block;
}

.wrapper .search_box .dropdown option{
  padding-bottom: 20px;
}

.wrapper .search_box .dropdown option:last-child{
  padding-bottom: 0;
}

.wrapper .search_box .dropdown option:hover{
  color: #6f768d;
}

.wrapper .search_box .dropdown:before{
  content: "";
  position: absolute;
  top: 16px;
  right: 18px;
  /* border: 8px solid; */
  /* border-color: #6f768d transparent transparent transparent; */
}

.wrapper .search_box .search_field{
  width: 350px;
  height: 100%;
  position: relative;
}

.wrapper .search_box .search_field .input{
  width: 100%;
  height: 100%;
  border: 0px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 38px;
  color: #6f768d;
}

/* .wrapper .search_box .search_field .fas{
  position: absolute;
  top: 10px;
  right: -70px;
  font-size: 22px;
  color: #6f768d;
  cursor: pointer;
} */

 .searchButton {
    position: absolute;
    top: -10px;
    right: -90px;
    width: 40px;
    height: 60px;
    border: 2px;
    color: #6f768d;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9fa3b1;
}
::-moz-placeholder { /* Firefox 19+ */
 color: #9fa3b1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9fa3b1;
}
